<body>
 
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="view overlay z-depth-1-half">
        <img src="assets/images/nodelogo.png" class="img-fluid"
          alt="">             
          <div class="mask rgba-white-light"></div>               
      </div> 
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
  </mdb-navbar>
  
  <app-dictionary></app-dictionary>
</body>
